<div class="row pt-4 pb-4">
    <div class="col-12 text-center">

        <div class="images-banner mt-4 mb-4">
            <img src="./assets/images/banner-home.jpg" alt="">
        </div>

        <h1>GenAI Surfing Regional Series</h1>
        <h3>SAP BUSINESS ONE + MYWAVE.AI</h3>
        
        <div class="mt-4 mb-4">
            <button type="button" class="btn btn-sap ps-4 pe-4 rounded-5" routerLink="registration">Register now</button>
        </div>

    </div>
</div>


<div class="row pt-4 pb-4">
    <div class="col-3">
        <p class="m-0 na-color"><b>NORTH AMERICA SERIES</b></p>
        <p class="m-0">Maui - Hawaii (USA)</p>
        <div class="images-thumbs-home mt-4">
            <img src="./assets/images/Maui-min.jpeg" alt="">
        </div>
    </div>
    <div class="col-3">
        <p class="m-0 lac-color"><b>LAC SERIES</b></p>
        <p class="m-0">Punta de Lobos - Chile</p>
        <div class="images-thumbs-home mt-4">
            <img src="./assets/images/Punta-de-loos-min.jpeg" alt="">
        </div>
    </div>
    <div class="col-3">
        <p class="m-0 emea-color"><b>EMEA SERIES</b></p>
        <p class="m-0">Peniche - Portugal</p>
        <div class="images-thumbs-home mt-4">
            <img src="./assets/images/Peniche-min.jpeg" alt="">
        </div>
    </div>
    <div class="col-3">
        <p class="m-0 apj-color"><b>APJ SERIES</b></p>
        <p class="m-0">Kuta Beach - Bali (Indonesia)</p>
        <div class="images-thumbs-home mt-4">
            <img src="./assets/images/Bali-min.jpeg" alt="">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 pt-4 pb-4">
        <h4><b>Ride the Wave to Victory</b></h4>
        <p>Join the GenAI Surfing Regional Series!
            Are you ready to make a splash in the sales world? Dive into the GenAI Surfing Regional Series competition and show off your skills! Registration is now open, so grab your board and start adding points by completing MyWave GenAI sales with SAP Business One.</p>
               
    </div>
</div>
<hr>
<div class="row pt-4 pb-4">
    <div class="col-6">
        <p class="m-0"><b>How to Compete</b></p>
        <p class="mb-4">It’s simple! Implement MyWave GenAI in your own organization or help new and existing customers leverage this powerful AI solution. Every successful implementation earns you valuable points, bringing you closer to the ultimate goal.
        </p>

        <p class="m-0"><b>The Road to the World Series</b></p>
        <p class="mb-4">Reach 80 points to qualify for the World Series, where the best of the best will compete on a global stage. Not only will you gain SAP and MyWave’s recognition, but you’ll also feature in exclusive Customer Success Story videos, showcasing your triumphs to the world.
        </p>
    </div>

    <div class="col-6">
        <p class="m-0"><b>Why Compete?</b></p>
        <p class="mb-4">This is your chance to ride the waves and stand out from your competitors. Show your expertise, boost your visibility, and celebrate your success as you climb the leaderboard. The GenAI Surfing Regional Series is more than just a competition; it’s an opportunity to highlight your innovative solutions and drive business growth.
        </p>
        
        <p class="m-0"><b>Register Today!</b></p>
        <p class="mb-4">Don’t miss out on this thrilling journey. Register today and start riding the waves to success. Add points, qualify for the World Series, and cement your status as a top performer in the world of AI-driven sales.

            Hang ten and see you on the leaderboard!
            
        </p>
    </div>
</div>