<div class="row pt-4 pb-4">
    <div class="col-12 text-center">

        <div class="images-banner mt-4 mb-4">
            <img src="../../../assets/images/banner-home.jpg" alt="">
        </div>

        <h1>GenAI Surfing Regional Series</h1>
        <h3>SAP BUSINESS ONE + MYWAVE.AI</h3>
        
        <div class="mt-4 mb-4">
            <button type="button" class="btn btn-sap ps-4 pe-4 rounded-5">Register now</button>
        </div>

    </div>
</div>


<div class="row pt-4 pb-4">
    <div class="col-3">
        <p class="m-0 na-color"><b>NORTH AMERICA SERIES</b></p>
        <p class="m-0">Maui - Hawaii (USA)</p>
        <div class="images-thumbs-home mt-4">
            <img src="../../../assets/images/Maui-min.jpeg" alt="">
        </div>
    </div>
    <div class="col-3">
        <p class="m-0 lac-color"><b>LAC SERIES</b></p>
        <p class="m-0">Punta de Lobos - Chile</p>
        <div class="images-thumbs-home mt-4">
            <img src="../../../assets/images/Punta-de-loos-min.jpeg" alt="">
        </div>
    </div>
    <div class="col-3">
        <p class="m-0 emea-color"><b>EMEA SERIES</b></p>
        <p class="m-0">Peniche - Portugal</p>
        <div class="images-thumbs-home mt-4">
            <img src="../../../assets/images/Peniche-min.jpeg" alt="">
        </div>
    </div>
    <div class="col-3">
        <p class="m-0 apj-color"><b>APJ SERIES</b></p>
        <p class="m-0">Kuta Beach - Bali (Indonesia)</p>
        <div class="images-thumbs-home mt-4">
            <img src="../../../assets/images/Bali-min.jpeg" alt="">
        </div>
    </div>
</div>

<div class="row pt-4 pb-4">
    <div class="col-6">
        <p>Rio occusam ea deriber esernam, apicatumquis molor aut at aut delecture quo tecae cus vendam aut vendestia volluptas et atio etur? Fugiatem reictusam ipsa nia esti officab ipietUdantiossit, sendest isinihitatem verio.</p>
        <p>Nam, quas ab ium sequam fugitatium faccat dolecto repercia consectis vendias pitaten dionseq uaesequ</p>
    </div>

    <div class="col-6">
        <p>
            atium, inullatiur, ut mo tota que none dero ipienis doles perumquatur re mos ad estemol uptatium in nihicil ea volut alicien temquos quam, odicia ped quat quiamus antibus ditiatio. Sequiae num iunte molupta ecestrum, am ideliquist, tempore eius et alictate volores sit quaepro quatum faccus ex eventis discil ipisquae nis voluptaquid que con parum fugit excepratem quossequunti iuntotas doluptatecte
        </p>
    </div>
</div>