<div *ngIf="loading" class="d-flex align-item-center justify-content-center mt-4 mb-4">
  <div class="spinner-grow text-secondary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<p *ngIf="!loading" style="font-size: 0.7rem; text-align: center;"><b>IP:</b> Internal promo | <b>NNS:</b> Net New Sale | <b>EXS:</b> Existing Customer Sale | <b>MIW:</b> Most Innovative Wave
    </p>

<table *ngIf="!loading" class="table table-striped-columns table-striped-columns">
  <thead>
    <tr class="text-center">
      <th scope="col"><b>#</b></th>
      <th scope="col">Partner</th>
      <th scope="col">Region</th>
      <th scope="col">IP</th>
      <th scope="col">NNS</th>
      <th scope="col">EXS</th>
      <th scope="col">MIW</th>
      <th scope="col"><b>Total</b></th>
    </tr>
  </thead>

  <tbody *ngFor="let infoPoints of pointsModel; index as i">
    <tr class="text-center">
      <td>{{i+1}}</td>
      <td class="text-truncate" style="max-width: 85px;">{{infoPoints.companyname}}</td>
      <td class="m-0 p-0"><b class="text-white d-block w-100 p-2
      {{infoPoints.region == 'NA'? 'na-bg' : null}}
      {{infoPoints.region == 'LAC'? 'lac-bg' : null}}
      {{infoPoints.region == 'EMEA'? 'emea-bg' : null}}
      {{infoPoints.region == 'APJ'? 'apj-bg' : null}}
      ">{{infoPoints.region}}</b></td>
      <td>{{infoPoints.internal_promo}}</td>
      <td>{{infoPoints.net_new_sale}}</td>
      <td>{{infoPoints.existing_customer_sale}}</td>
      <td>{{infoPoints.aditional_points}}</td>
      <td class="m-0 p-0"><b class="text-white d-block w-100 sap-bg p-2">{{infoPoints.total}}</b></td>
    </tr>
  </tbody>

</table>

<div *ngIf="pointsModel?.length == 0 && !loading" class="row w-100">
  <div class="col-12">
    <p class="text-center">Nothing to show yet</p>
  </div>
</div>
