<div class="row">
    <div class="col-3"></div>
    <div class="col-6 p-2 mt-4">
        <div class="card rounded-5">
            <div class="card-body p-5">
                <h3 class="mb-2">New contract</h3>

                <form ngForm #registrationForm="ngForm" class="{{wasValidated ? 'was-validated' : 'needs-validation'}}">
                    <div class="mb-2">
                        <label for="clientname" class="form-label">Client name</label>
                        <input type="text" placeholder="Company" class="form-control" name="clientname" id="clientname"
                            aria-describedby="clientname" [(ngModel)]="contractModel.clientName" required>
                    </div>

                    <div class="mb-2">
                        <label for="country" class="form-label">Country</label>
                        <select class="form-select" name="country" [(ngModel)]="contractModel.country" required>
                            <option value="" disabled selected>Select your country</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>

                    <div class="mb-2">
                        <label for="clientType" class="form-label">Client type</label>
                        <select class="form-select" name="clientType" [(ngModel)]="contractModel.clientType" required>
                            <option value="" disabled selected>Select your country</option>
                            <option value="Current client">Current client</option>
                            <option value="New client">New client</option>
                        </select>
                    </div>

                    <div class="mb-2">
                        <label for="file" class="form-label">Contract File</label>
                        <input type="file" placeholder="Company" class="form-control" name="file" id="file"
                            aria-describedby="file" [(ngModel)]="contractModel.file" required>
                    </div>


                    <button (click)="contract(registrationForm)" type="submit"
                        class="btn btn-sap rounded-3 mt-4 mb-4 ps-4 pe-4 w-100">Add contract</button>
                </form>
                
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>