<h3>Login</h3>

<form *ngIf="!loading" ngForm #loginForm="ngForm" class="{{wasValidated ? 'was-validated' : 'needs-validation'}}">
    <div class="mb-2">
      <label for="email" class="form-label">Email address</label>
      <input type="email" placeholder="name@partneremail.com" class="form-control" id="email" name="email" [(ngModel)]="loginModel.email" required>
    </div>
    <div class="mb-2">
      <label for="password" class="form-label">Password</label>
      <input type="password" placeholder="********" class="form-control" id="password" name="password" [(ngModel)]="loginModel.password" required>
    </div>

    <p><a routerLink="/recoverpassword">Forgot password?</a></p>


    <div *ngIf="errorMessage?.length! > 0">
      <div *ngFor="let message of errorMessage" class="alert alert-danger" role="alert">
          {{message}}
      </div>
  </div>

    <button (click)="login(loginForm)" type="submit" class="btn btn-sap rounded-3 mt-4 mb-4 ps-4 pe-4 w-100">Login</button>
</form>

<div *ngIf="loading" class="d-flex align-item-center justify-content-center mt-4 mb-4">
  <div class="spinner-grow text-secondary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
</div>


<p>Not registered yet? <a routerLink="/registration">Register here</a></p>
