<h3 class="mb-2">Registration</h3>

<form *ngIf="!loading" ngForm #registrationForm="ngForm" class="{{wasValidated ? 'was-validated' : 'needs-validation'}}">
    <div class="mb-2">
        <label for="partnername" class="form-label">Partner name *</label>
        <input type="text" placeholder="Company" class="form-control" name="partnername" id="partnername"
            aria-describedby="partnername" [(ngModel)]="registrationModel!.companyname" required>
    </div>

    <hr class="mb-4 mt-4 text-body-secondary">

    <div class="mb-2 mt-2">
        <label for="name" class="form-label">Your name *</label>
        <input type="text" placeholder="Name" class="form-control" name="name" id="name"
            [(ngModel)]="registrationModel!.name" required>
    </div>
    <div class="mb-2">
        <label for="country" class="form-label">Country *</label>
        <select  class="form-select" name="country" [(ngModel)]="registrationModel!.country" required>
            <option *ngFor="let country of countries" value="{{country | uppercase}}">{{country | titlecase}}</option>
        </select>
        

    </div> 
    <div class="mb-2">
        <label for="region" class="form-label">Region *</label>
        <select class="form-select" name="region" [(ngModel)]="registrationModel!.region" required>
            <option value="NA">NA</option>
            <option value="LAC">LAC</option>
            <option value="EMEA">EMEA</option>
            <option value="APJ">APJ</option>

        </select>
    </div>

    <hr class="mb-4 mt-4 text-body-secondary">

    <div class="mb-2 mt-2">
        <label for="email" class="form-label">Email address *</label>
        <input type="email" placeholder="name@partneremail.com" class="form-control" name="email" id="email"
            aria-describedby="email" [(ngModel)]="registrationModel!.email" required>
    </div>
    <div class="mb-2">
        <label for="password" class="form-label">Password *</label>
        <input type="password" placeholder="********" class="form-control" id="password" name="password"
            [(ngModel)]="registrationModel!.password" required>
            <div id="password" class="form-text">
                -Must contain at least 6 alphanumeric characters <br>
                -At least one capital letter and one small letter are required.
            </div>
    </div>
    <div class="mb-2">
        <label for="passwordrepeat" class="form-label">Repeat Password *</label>
        <input type="password" placeholder="********" class="form-control" id="passwordrepeat" name="passwordrepeat"
            [(ngModel)]="registrationModel!.passwordrepeat" required>
    </div>

    <div class="mb-2">
        <input type="checkbox"  class="form-check-input"  id="terms" name="terms"
            [(ngModel)]="registrationModel!.terms" required>
            <label class="form-check-label" for="flexCheckDefault">
                &nbsp; You agree to the <a href="./assets/images/termsandconditions.pdf" target="_blank" rel="noopener noreferrer">terms and conditions</a> by checking this box.
              </label>
    </div>


    <div *ngIf="passwordValidated" class="alert alert-danger" role="alert">
        Passwords should be the same
    </div>

    <div *ngIf="errorMessage?.length! > 0">
        <div *ngFor="let message of errorMessage" class="alert alert-danger" role="alert">
            {{message}}
        </div>
    </div>
    

    <button (click)="registration(registrationForm)" type="submit"
        class="btn btn-sap rounded-3 mt-4 mb-4 ps-4 pe-4 w-100">Register</button>
</form>

<div *ngIf="registered"  class="alert alert-success" role="alert">
    Registration completed <b>You will be redirected to the login page</b>
</div>

<div *ngIf="loading" class="d-flex align-item-center justify-content-center mt-4 mb-4">
    <div class="spinner-grow text-secondary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
</div>

<p *ngIf="!registered">Already have an account? <a routerLink="/login">Login here</a></p>