@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

$na: #470075;
$lac: #e35a00;
$emea: #08958f;
$apj: #ffaa00;
$sap: #00a8e7;
$white: #ffffff;

.nav-link, .page-link{
    cursor: pointer;;
}

a{
    text-decoration: none;
    color: $sap;
}

.na-bg{
    background: $na;
}

.lac-bg{
    background: $lac;
}

.emea-bg{
    background: $emea;
}

.apj-bg{
    background: $apj;
}

.sap-bg{
    background: $sap;
}


.na-color{
    color: $na;
}

.lac-color{
    color: $lac;
}

.emea-color{
    color: $emea;
}

.apj-color{
    color: $apj;
}

.sap-color{
    color: $sap;
}

.images-thumbs-home{
    img{
        height: 30vh;
        width: 100%;
        object-fit: cover;
    }
}

.images-banner{
    img{
        height: 40vh;
        width: 100%;
        object-fit: cover;
    }
}

.images-banner-points{
    @extend .images-banner;
    display: flex;
    align-items: end;
    justify-content: start;
    p{  
        margin: 1rem;
        background: #ffffff;
        padding: 2rem;
        position: absolute;
        font-size: 1.5rem;
    }
}

.btn-sap{
   background-color: $sap;
   color: $white;
}

.btn-sap:hover{
    background-color: $sap;
    color: $white;
 }

 .dropdown-item{
    cursor: pointer;
 }
 

.navbar-brand{
    display: block;
    margin: 0 auto;
    .logos{
        width: auto;
        height: 7vh
    }
}



@media only screen and (max-width: 1050px) {

    .mobile-row{
        display: flex;
        flex-direction: column;
    }
    
    .mobile-width{
        margin-bottom: 0.2rem;
        width: 100%;
    }

   
  }