@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

$na: #470075;
$lac: #e35a00;
$emea: #08958f;
$apj: #ffaa00;
$sap: #00a8e7;
$white: #ffffff;

.nav-link, .page-link{
    cursor: pointer;;
}

a{
    text-decoration: none;
    color: $sap;
}

.na-bg{
    background: $na;
}

.lac-bg{
    background: $lac;
}

.emea-bg{
    background: $emea;
}

.apj-bg{
    background: $apj;
}

.sap-bg{
    background: $sap;
}


.na-color{
    color: $na;
}

.lac-color{
    color: $lac;
}

.emea-color{
    color: $emea;
}

.apj-color{
    color: $apj;
}

.sap-color{
    color: $sap;
}

.images-thumbs-home{
    img{
        height: 30vh;
        width: 100%;
        object-fit: cover;
    }
}

.images-banner{
    img{
        height: 40vh;
        width: 100%;
        object-fit: cover;
    }
}

.btn-sap{
   background-color: $sap;
   color: $white;
}

.btn-sap:hover{
    background-color: $sap;
    color: $white;
 }
 

.navbar-brand{
    .logos{
        width: 100%;
        height: auto
    }
}

