<nav class="navbar navbar-expand-lg bg-body-light">
    <div class="container-fluid">
        <div class="row w-100 d-flex align-items-center">
            <div class="col-2 d-flex align-items-center">
                <a class="navbar-brand" routerLink="#">
                    <img src="./assets/images/SBO-logo.png" alt="Logo SAP BUSINESS ONE"
                        class="d-inline-block align-text-top logos">
                </a>
            </div>
            <div class="col-8 ">
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 justify-content-end d-flex justify-content-between">
                       <div class="d-flex">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Regional Series Leaderboards
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="scores?region=NA">NORTH AMERICA</a>
                                    <a class="dropdown-item" href="scores?region=LAC">LAC</a>
                                    <a class="dropdown-item" href="scores?region=EMEA">EMEA</a>
                                    <a class="dropdown-item" href="scores?region=APJ">APJ</a>
                                </li>
                            </ul>
                        </li>
                       </div>
                       <div class="d-flex">
                        <li *ngIf="userModel.usertype == 'ADMIN'" class="nav-item">
                                <a class="nav-link active" aria-current="page" routerLink="/admin/users">Users</a>
                            </li>
                            <li *ngIf="userModel.usertype == 'USER'" class="nav-item">
                                <a class="nav-link active " aria-current="page" routerLink="/points">Consult your points</a>
                            </li>
    
                            <li *ngIf="userModel.usertype == 'USER'">
                                <a class="btn btn-success rounded-5 ps-4 pe-4 me-2 ms-2" aria-disabled="true"
                                    routerLink="/newcontract">Add your points</a>
                            </li>
                          
    
                            <li *ngIf="!userModel.usertype" class="nav-item">
                                <a class="btn btn-sap rounded-5 ps-4 pe-4 me-2 ms-2" aria-disabled="true"
                                    routerLink="registration" [queryParams]="">Register now</a>
                                <a class="btn btn-outline-secondary rounded-5 ps-4 pe-4 me-2 ms-2" aria-disabled="true"
                                    routerLink="login">Login</a>
                            </li>
    
                            <li *ngIf="userModel.usertype" class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Hi, {{userModel.name}}
                                </a>
                                <ul class="dropdown-menu">
                                    <li  *ngIf="userModel.usertype == 'ADMIN'"><a class="dropdown-item" routerLink="/edituser">Edit user</a></li>
                                    <li *ngIf="userModel.usertype == 'ADMIN'"><hr></li>
                                    <li *ngIf="userModel.usertype == 'ADMIN'"><a class="dropdown-item" routerLink="/admin/registeradmin">Add new admin</a></li>
                                    <li *ngIf="userModel.usertype == 'ADMIN'"><a class="dropdown-item" routerLink="/admin/usersadmin">List admin users</a></li>
                                    <li *ngIf="userModel.usertype == 'ADMIN'"><hr></li>
                                    <li> <a (click)="logout()" class="dropdown-item">Sign out <i class="bi bi-box-arrow-right"></i></a></li>
                                </ul>
                            </li>
    
                        </div>

                    </ul>



                </div>
            </div>
            <div class="col-2 d-flex align-items-center">
                <a class="navbar-brand" routerLink="#">
                    <img src="./assets/images/mywave-logo.png" alt="Logo SAP BUSINESS ONE"
                        class="d-inline-block align-text-top logos">
                </a>
            </div>
        </div>
    </div>
</nav>